 <div class="title">
    <p class="title">Memory Text</p>
</div>

<div id="motto">
    <p>Texts until you don't forget!</p>
</div>

<div id="loginButton" class="centerLogin">
    <a id="alink" href="#"><p class="button">Login!</p></a>
</div>

<!--div id="logoutButton" class="cornerLogout">
    <a id="alink" href="#"><p class="button">Logout</p></a>
</div-->

<div id="getStarted" class="centerStart">
    <a id="alink" href="#/form"><p class="button">Get Started!</p></a>
      <!--a class="btn blue">Get Started!</a-->
</div>